{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Sign Up
{% endblock %}

{% block styles %}
{{super()}}
{% endblock %}

{% block content %}

<body style="background-image:url('https://images.unsplash.com/photo-1611073061835-e77b1b16d3f3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=751&q=80')">
    <div class="container col-md-4 card" style="margin-left:35%;margin-top:6%;background-color:white;padding: 4%;border-radius: 6px;">

        <div class="card-header" style="font-size:32px;font-style:italic;text-align:center">Life Pharma</div>

        <div class="card-body" style="">

        <form class="form-sign in" method="POST" action="/signup">
            <h3 class="form-sign in-heading">Sign Up</h3>
            {{ form.hidden_tag() }}
            {{ wtf.form_field(form.username) }}
            {{ wtf.form_field(form.email) }}
            {{ wtf.form_field(form.password) }}
            <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
        </form>

        </div>

    </div> <!-- /container -->
</body>
{% endblock %}