{% extends 'base.html' %}


{% block css%}

    <script src="{{ url_for('static', filename = 'js/jquery.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'back.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename = 'js/bootstrap.min.js') }}"></script>
    <link href="{{ url_for('static', filename = 'font-awesome-4.7.0/css/font-awesome.min.css') }} " rel="stylesheet">
{% endblock css%}

<body>
    <div class="container">
        <div class="top_head">
            <div class="container">
                <div class="inner_top">

                    <ul class="ul_two">
                        <li>
                            <a href="/cart" class="btn btn-primary">CART {{ no_of_items }}</a>

                        </li>
                        <li>
                            {% if not logged_in %}
                            <a href="/loginForm">
                                <i class="fa fa-sign-in" aria-hidden="true"></i> Login</a>
                            {% else %}
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" id="drop" data-toggle="dropdown">Hi,{{ name }}</button>
                                <div class="dropdown-menu" area-labelledby="drop">
                                    <hr>
                                    <a class="dropdown-item" href="/logout" class="btn btn-danger">
                                        <span style="color:black">Sign Out
                                            <span>
                                    </a>
                                </div>
                            </div>
                            {% endif %}
                        </li>
                    </ul>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>

		<div class="container-fluid">
			<div class="row text-center" id="about">
                <h1>About Product</h1></br>
				<div class="col-sm-6" id="abprod" >
					<img src={{url_for('static', filename='uploads/'+data[5]) }}  height="300px" id="product_image">

				</div>
				<div class="col-sm-5" id="ab_prod">
                    <h2>{data[1]}} </h2></br>
                    <h3>{{data[2]}} </h3></br>
                    <h3> Price : {{data[3]}}</h3></br>
                    <a class="btn btn-success" href="/add_to_cart?productId={{request.args.get('productId')}}">Add to cart</a> </br>
                    <h4>Product Description </br>  </br> {{data[4]}}</h4></br>
                    <h4>Side Effects</br> </br>{{data[7]}}</h4>
                </div>

			</div>
        </div>
    </div>

</body>

{%endblock content%}


